<section class="home-page">
    <h1>Welcome Bitcoin Master</h1>

    <div  *ngIf="user else signUp"  class="home-user-details flex-col">
       <span>user: {{user.name}} </span>
    <span> coins:  {{user.coins}}
        <img src="@/assets/icons for misterBitcoin/coins.png" />
         </span>
         <p className='currency'>1BTC = {{bitcoin}} </p>

         
        </div>
        <move-list  *ngIf="user"[user]="user"></move-list>
        <ng-template  #signUp>
            <a [routerLink]="['/signup']">
                <button class="singUp">sign-up</button>
            </a>
        </ng-template>
       
    <div class="main-hero">
        <img src="@/assets/icons for misterBitcoin/bit.png" alt="hero">
    </div>

</section>