
.contact-edit {
    height: 400px;
    width: 400px;
    position: fixed;
    inset: 0;
    top: -10%;
    margin: auto;
    background-color: rgb(250, 252, 250);
    border: #222 3px solid;
     box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../assets/icons\ for\ misterBitcoin/block.jpg');
    background-size: contain;
    color: #fff;
    font-weight: 500;
    padding: 10px;
    form {
        display: flex;
        flex-direction: column;
        label {
            margin-top: 1em;
        }

        button {
            width: 50%;
            display: block;
            margin: 20px auto;

        }
    }
}